<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal.dotm</Template>
  <TotalTime>139</TotalTime>
  <Pages>3</Pages>
  <Words>112</Words>
  <Characters>643</Characters>
  <Application>Microsoft Office Word</Application>
  <DocSecurity>0</DocSecurity>
  <Lines>5</Lines>
  <Paragraphs>1</Paragraphs>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="4" baseType="variant">
      <vt:variant>
        <vt:lpstr>Title</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Headings</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>13</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="14" baseType="lpstr">
      <vt:lpstr>StyleFile</vt:lpstr>
      <vt:lpstr>Style file for the sphinx-docbuilder</vt:lpstr>
      <vt:lpstr>    Copyright© 2011, haraisao at gmail dot com</vt:lpstr>
      <vt:lpstr>About This</vt:lpstr>
      <vt:lpstr>Styles</vt:lpstr>
      <vt:lpstr>    Headings</vt:lpstr>
      <vt:lpstr>Heading1</vt:lpstr>
      <vt:lpstr>    Heading2</vt:lpstr>
      <vt:lpstr>        Heading4</vt:lpstr>
      <vt:lpstr>    Characters</vt:lpstr>
      <vt:lpstr>    List</vt:lpstr>
      <vt:lpstr>    Block</vt:lpstr>
      <vt:lpstr>        Admonitions</vt:lpstr>
      <vt:lpstr>    Table</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <Manager>
  </Manager>
  <Company>AIST</Company>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>754</CharactersWithSpaces>
  <SharedDoc>false</SharedDoc>
  <HyperlinkBase>
  </HyperlinkBase>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>14.0000</AppVersion>
</Properties>
